<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
  <%# @users.each do |user| %>
    <%#= render user # this user is var, and related to _user.html.erb%>
  <%# end %>
</ul>

<%= will_paginate %>